<main>
  <div *ngIf="!(authService.user$ | async)">
    <h1>Login</h1>

    <button [disabled]="isPWA" mat-raised-button appGoogleSignin>
      <img src="/assets/google-logo.svg" /> Login with Google
    </button>

    <h5>OR</h5>

    <app-email-login></app-email-login>
  </div>

  <div *ngIf="authService.user$ | async as user" class="logout">
    <p>
      Logged in as <strong>{{ user.email }}</strong>
    </p>

    <button mat-stroked-button (click)="authService.signOut()">Logout</button>
  </div>
</main>