// References:
// Material Design Color Tool: https://material.io/design/color/#tools-for-picking-colors
// Material Design Palette Generator: https://material.io/resources/color/#!/?view.left=0&view.right=0&primary.color=fa8242

// Import Material Design styles and fonts
@use "@angular/material" as mat;
@import url("https://use.typekit.net/jnq3uxd.css");

@include mat.core();

// Define palettes for the theme
$my-primary: mat.define-palette(mat.$purple-palette, 500);
$my-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);
$my-warn: mat.define-palette(mat.$red-palette);

// Define a dark theme
$dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $my-primary,
      accent: $my-accent,
    ),
    // Only include `typography` and `density` in the default dark theme.
    typography: mat.define-typography-config(),
    density: 0,
  )
);

@include mat.all-component-themes($dark-theme);
// Global styles
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sofia-pro, sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
